## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [22]:
import random
from pprint import pprint 
data = {'國家':['Greece','Hong Kong','Maxico','Spain','France','Taiwan'] ,
        '人口': np.random.randint(10000000,size=6)}
pprint(data)

{'人口': array([7644572, 4412983, 9485270, 2728488, 2760327,  861971]),
 '國家': ['Greece', 'Hong Kong', 'Maxico', 'Spain', 'France', 'Taiwan']}

In [23]:
df = pd.DataFrame(data)
df

          國家       人口
0     Greece  7644572
1  Hong Kong  4412983
2     Maxico  9485270
3      Spain  2728488
4     France  2760327
5     Taiwan   861971

## 求人口數最多的國家

In [31]:
df[df['人口']==df['人口'].max()]

求人口數最多的國家

       國家       人口
2  Maxico  9485270